<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/editblog.css">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts --><link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <title>Document</title>
    <script>
      function checkForToken(){
        fetch('/articles/verify',{
  method: 'GET', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
    'Authorization': `${localStorage.getItem("auth_token")}`
  },
})
.then(response => response.json())
.then(data =>{ console.log(data)
  if(!data.status){
    // window.location.href = "/" 
  }
});
      }
      window.onload = checkForToken;
      </script>

</head>
<body>
  
    <div class="container my-5">
        <div style="max-width: 700px; top: -80px;" class="mx-auto text-secondary">
          <div>
              <small>
                <a href="#" class="text-primary"><%= article.tags %></a>
            </small>
          </div>
          <h1 class="font-weight-bold text-dark">
            <%= article.title %>
         </h1>
          
          <div class="my-3 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
            <small class="ml-2">
              <a href="#" class="text-primary d-block">John Doe</a>
              <span><%= article.createdAt.toLocaleDateString() %></span>
            </small>
          </div>
            <div class="text-primary">
              <a href="/articles/edit/<%= article.id %>" class="btn btn-primary"><i class="fas fa-edit mr-1"></i>Edit</a>
              <a href="/articles" class="btn btn-primary"><i class="fas fa-blog mr-1"></i>All Post</a>
            </div>
          </div>
          </div>
        <!-- <img class="w-100 my-3" src="../../../assets/images/blogphoto.png" /> -->
        
        <div style="max-width: 700px; top: -80px;" class="mx-auto text-secondary">  
          <p class="my-2" style="line-height: 2;"><%= article.description %></p>
          <hr>      
        </div>

</body>
</html>